.all-products, .popular-products{
    @include flex(center);
    h3{
        width: 100%;
        @include font-roboto(#000000, 20px);
        margin-left: 10px;
        span{
            color: #e70505;
        }
    }
    .small{
        background-color: #ffffff;
        padding: 6px 4px;
        margin: 4px;
        .image{
            height: 202px;
        width: 210px;
        }
    }
    .big{
        background-color: #ffffff;
        padding: 6px 4px;
        margin: 4px;
        .image{
            height: 247px;
            width: 435px;
            margin: 10px;
        }
        .product-name{
            width: 60%;
            @include font-roboto(#565555, 16px);
        }
        .price{
            border-left: 1px solid #ededed;
            width: 15%;
        }
    }
    
    .image{
        display: block;
        overflow: hidden;
        margin: 5px;
    }
    .product-name{
        @include font-roboto(#565555, 13px);
        span{
            display: block;
        }
    }
    .flex{
        @include flex(space-between);
        border-top: 1px solid #ededed;
        padding: 7px;
        text-align: center;
    }
    .price{
        @include font-roboto(#3e3f3f, 18px);
        font-weight: bold;
        border-right: 1px solid #ededed;
        width: 44%;
        margin: 0;
    }
    .button-get-it{
        display: block;
        @include background-img('button-get-it.png', center, auto);
        height: 26px;
        width: 103px;
    }
}