@mixin list-style(){
    font-size: 14px;
    color: #555555;
    font-family: "Roboto";
}
@mixin flex($justify-content){
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify-content;
}
@mixin background-img ($image, $first-position, $back-size){
    background-image: url(../img/#{$image});
    background-position: $first-position center;
    background-repeat: no-repeat;
    background-size: $back-size;
}
@mixin center(){
    max-width: $max-width;
    margin: 0 auto;
}
@mixin font-roboto($color, $font-size){
    font-family: "Roboto";
    color: $color;
    font-size: $font-size;
}

$max-width: 955px;
$white-color: #ffffff;
$red-color: #df1f26;

ul{
    // display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}

body{
    background-color: #eeeeee;
}
.side-bar{
    width: 24%;
    border-right: 1px solid #bebebe;
    background-color: #eeeeee;
}
.main-content{
    @include flex(center);
    @include center();
}
.products{
    width: 75%;
    background-color: #eeeeee;
}