.footer-bottom{
    background-image: url(../img/footer-bottom-background.png);
    padding: 1rem 0;
    .flex{
        @include flex(space-between);
        align-items: center;
        @include center();
        ul{
           
            @include flex(auto);
            align-items: center;
            li,a{
                @include font-roboto(#c3c3c3, 12px);
                font-weight: bold;
            }
            li:after{
                content: '·';
                padding:0 1em;
            }
            :last-child:after{
                content: '';
            }
        }
        a{
            @include font-roboto(#7a7777, 16px);
            
        }
    }
    
}