.footer-top{
    @include flex(center);
    // @include center();
    background-color: #d4d3da;
    padding: 30px 0 60px;
    h2{
        @include font-roboto(#323232, 18px);
        font-weight: bold;
    }
    .about{
        max-width: 30%;
        padding-right: 60px;
        p{
            @include font-roboto(#393939, 12px);
            max-width: 220px;
        }
    }
    .follow-us{
        a{
            padding: 9px 0 9px 30px;
            @include font-roboto(#393939, 13px);
        }
        .footer-facebook{
            @include background-img('footer-icon-facebook.png', left, auto);
        }
        .footer-twitter{
            @include background-img('footer-icon-twitter.png', left, auto);
        }
        .footer-google{
            @include background-img('footer-icon-google.png', left, auto);
        }
        .footer-insta{
            @include background-img('footer-icon-insta.png', left, auto);
        }
        a:hover{
            @include font-roboto($red-color, 13px);
        }
    }

    .follow-us{
        border-left: 2px solid #e1e0df;
        border-right: 2px solid #e1e0df;
        padding: 0 55px;
        li{
            @include font-roboto(#393939, 13px);
        }
    }
    .contact-info{
        padding-left: 50px;
        div{
            @include flex(space-between);
            p{
                margin-top: 0;
            }
            .contact-info-left{
                @include font-roboto(#393939, 14px);
                padding-right: 24px;
            }
            .contact-info-right{
                @include font-roboto(#747474, 14px);
            }
        }
    }
}
