header{
    background-color: #ffffff;
}
.top{
    @include flex(space-between);
    align-items: center;
    @include center();
    background-color: $white-color;
}
.additional-menu{
    @include flex(initial);
    li{
        background-color: #eeeeee;
        margin-right: 1px;
        a{
            @include list-style();
            padding: 2.5em 1.43em 1.85em;
            background-color: #eeeeee;
            border-left: solid 1px #ebeaea;
            border-right: solid 1px #ebeaea;
        }
        .icon-bag{
            padding-right: 50px;
            @include background-img('icon-bag.png',83%, auto);
        }
        a:hover{
            color: #e70505;
        }
        .icon-bag:hover{
            @include background-img('icon-bag-hover.png',83%, auto);
        }
    }
}
nav{
    background-color: #000000;
    border-top: 1px solid #89883e;
    ul{
        @include flex(space-between);
        @include center();
        li{
            a{
            font-size: 13px;
            color: #ffffff;
            font-family: "Myriad Pro";
            padding: 1.4em 0;
            }
            a:hover{
                color: #e70505;
            }
        }
    }
    

}