.latest-from-twitter{
    h2{
        @include font-roboto($red-color, 18px);
        padding: 1em 1em 0 1em;
        margin: 0;
    }
    .twitter-posts{
        li{
            padding: 1em 1em 1em 56px;
            @include background-img('icon-twitter-side-bar.png', 4%, auto);
            a{
                @include font-roboto(#838383, 13px);
                span{
                    color: #d52229;
                }
            }
        }
        li:hover{
            @include background-img('icon-twitter-side-bar-hover.png', 4%, auto);
        }
    }
}