.products-menu{
    h2{
        background-color: $red-color;
        @include font-roboto(#eeeeee, 14px);
        padding: 1em;
        margin: 0;
    }
    .products-menu-list{
       
        li{
            @include background-img('products-menu-list.png', 4%, auto);
            padding-left: 36px;
            background-color: #efefef;
            border-bottom: 1px solid #eeeeee;
            border-top: 1px solid #e5e5e5;
            border-right: 1px solid #eeeeee;
            
            a{
                @include font-roboto(#333333, 15px);
                padding: 1em 0;
            }
        }
        li:hover{
            background-color: #ffffff;
            border-right: 5px solid $red-color;
            border-bottom: 1px solid #eeeeee;
            border-top: 2px solid #e5e5e5;
        }
    }
}