.reviews{
    h2{
        @include font-roboto($red-color, 18px);
        padding: 1em 1em 0 1em;
    }
    .reviews-text{
        @include font-roboto(#747474, 13px);
        background-color: #f6f3f3;
        padding: 30px;
    }
    .icon-person{
        @include font-roboto(#333333, 13px);
        @include background-img('icon-person.png', left, auto);
        padding: 1em 1em 1em 50px;
        margin: 0;
    }
    .icon-person:hover{
        @include background-img('icon-person-hover.png', left, auto);
    }
}